apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- resources/namespace.yml
- metrics/service.yml
- metrics/prom-rule.yml
- metrics/service-monitor.yml

commonLabels:
  app.kubernetes.io/name: kured

namespace: kured

helmCharts:
- name: kured
  repo: https://kubereboot.github.io/charts
  version: 5.11.0
  releaseName: kured
  namespace: kured
  includeCRDs: true
  valuesInline:
    tolerations: []
    configuration:
      metricsPort: 8080
      rebootDays: [sun,mon,tue,wed,thu,fri,sat]
      startTime: "04:30"
      endTime: "06:30"
      period: 15m
      timeZone: America/New_York
      forceReboot: true
      drainTimeout: 10m
