apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/metallb/metallb/config/native?ref=v0.15.3
- config/config.yml

generators:
- secrets-generator.yml

namespace: metallb-system

generatorOptions:
  disableNameSuffixHash: true