kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: immich

images:
- name: ghcr.io/immich-app/immich-server
  newTag: v2.3.1
- name: ghcr.io/immich-app/immich-machine-learning
  newTag: v2.3.1-cuda
- name: docker.io/valkey/valkey
  newTag: 9.0-alpine

resources:
- resources/namespace.yml
- resources/postgres-db.yml
- resources/storage.yml

patches:
# - path: patches/immich-server-intel-quick-sync-patch.yml
- path: patches/immich-server-changes.yml
  target:
    group: apps
    kind: Deployment
    name: immich-server
    version: v1
- path: patches/immich-machine-learning-changes.yml
  target:
    group: apps
    kind: Deployment
    name: immich-machine-learning
    version: v1

generators:
- secrets-generator.yml

helmCharts:
- name: immich
  releaseName: immich
  repo: https://immich-app.github.io/immich-charts/
  version: 0.10.3
  namespace: immich
  valuesInline:
    immich:
      metrics:
        enabled: true # creates service monitors
      persistence:
        library:
          existingClaim: immich-photos-storage-adjustable

    valkey:
      enabled: true
      persistence:
        data:
          enabled: true
          size: 2Gi
          type: persistentVolumeClaim
          accessMode: ReadWriteOnce
          storageClass: ceph-block

    server:
      enabled: true
      ingress:
        main:
          enabled: true
          ingressClassName: nginx
          annotations:
            # proxy-body-size is set to 0 to remove the body limit on file uploads
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
            cert-manager.io/cluster-issuer: "letsencrypt-issuer"
          hosts:
          - host: photos.cguertin.dev
            paths:
              - path: "/"
          tls:
          - secretName: photos-cguertin-dev-tls
            hosts:
              - photos.cguertin.dev

    machine-learning:
      enabled: true
      controllers:
        main:
          containers:
            main:
              env:
                TRANSFORMERS_CACHE: /cache
                MACHINE_LEARNING_PRELOAD__CLIP__TEXTUAL: immich-app/XLM-Roberta-Large-Vit-B-16Plus
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: emptyDir
          accessMode: ReadWriteMany
          storageClass: ceph-filesystem
