apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

configMapGenerator:
- name: app-config
  behavior: replace
  literals:
  - ZONE_NAME=cguertin.dev
  - RECORD_NAME=lb

generators:
- secrets-generator.yml
